@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

.title1 {
               font-family: "Playwrite NG Modern", cursive;
               font-optical-sizing: auto;
               font-weight: 400;
               font-style: normal;
}